.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

/* General styling for the container */

.container {
  background-color: #e0f7fa; /* Baby blue background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

/* Header styling */
h1 {
  color: #007bff; /* Bootstrap primary color */
  text-align: center;
  margin-bottom: 30px;
}

/* Styling for the form controls */
.form-control {
  border-radius: 5px;
  border-color: #ced4da;
  box-shadow: none;
}

.form-control:focus {
  border-color: #007bff; /* Change border color on focus */
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25); /* Light blue shadow */
}

/* Button styling */
.btn-primary {
  background-color: #007bff; /* Primary color */
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker shade on hover */
  border-color: #004085;
}

/* Alert styling */
.alert {
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
}

/* Table styling */
.table {
  margin-top: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #dee2e6;
}

.table thead th {
  background-color: #007bff; /* Header background color */
  color: #fff; /* White text color */
}

.table tbody tr:nth-child(odd) {
  background-color: #f2f2f2; /* Alternating row colors */
}

.table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

/* Style for unordered lists */
.list-unstyled {
  padding-left: 0;
}

.list-unstyled li {
  padding: 5px 0;
}

/* Responsive Design for Form Controls */
@media (max-width: 768px) {
  .form-group {
      margin-bottom: 15px;
  }
}
